<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--add name="MySqlConn" connectionString="server=127.0.0.1;port=3306;database=pop_project;uid=userhs;pwd=1234;" providerName="MySql.Data.MySqlClient" /-->
		<add name="MySqlConn" connectionString="server=localhost;port=3306;database=pop_project;uid=root;pwd=1111;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>